/*chatbot window*/

.rw-conversation-container {
    border-radius: 10px;
    box-shadow: 0 1px 1.5px -1px rgba(0, 0, 0, 0.048), 0 2.5px 3.7px -1px rgba(0, 0, 0, 0.069), 0 5px 7px -1px rgba(0, 0, 0, 0.085), 0 9.7px 12.5px -1px rgba(0, 0, 0, 0.101), 0 19.7px 23.4px -1px rgba(0, 0, 0, 0.122), 0 54px 56px -1px rgba(0, 0, 0, 0.17);
    overflow: hidden;
    width: 700px;
}


/*launcher button container*/

.rw-button-container {
    display: flex;
    justify-content: center;
    width: 700px;
}


/*launcher button container when chatbot is opend*/

.rw-button-open {
    display: flex;
    justify-content: space-between;
    width: 700px;
}


/*container for 3 custom buttons*/

.rw-custom-btn-container {
    display: flex;
}


/*custom button*/

.rw-exlauncher {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tertiary;
    border: 0;
    border-radius: 50%;
    box-shadow: 0px 2px 10px 1px $grey-3;
    height: 60px;
    margin: 0;
    margin-right: 10px;
    width: 60px;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
    &.rw-hide {
        display: none
    }
    &.rw-full-screen {}
    img {
        width: 70%;
        max-height: 70%;
        object-fit: contain;
    }
    .rw-unread-count-pastille {
        background-color: #e41c23;
        color: white;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 700;
    }
    .rw-tooltip-body {
        background-color: white;
        box-sizing: border-box;
        border-radius: 8px;
        position: absolute;
        right: 78px;
        bottom: 12px;
        box-shadow: 0 0.9px 1.4px -4px rgba(0, 0, 0, 0.042), 0 2.3px 3.3px -4px rgba(0, 0, 0, 0.061), 0 4.7px 6.3px -4px rgba(0, 0, 0, 0.075), 0 9px 11.2px -4px rgba(0, 0, 0, 0.089), 0 18.2px 20.9px -4px rgba(0, 0, 0, 0.108), 0 50px 50px -4px rgba(0, 0, 0, 0.15);
        width: 320px;
        font-size: 16px;
        padding: 0px 8px;
        line-height: 19px;
        font-family: $fontfamily;
        animation: slideUp 0.3s ease-in-out;
        transition: all 0.2s ease-in-out;
        @media screen and (max-width: 800px) {
            right: 74px;
            width: calc(100vw - 90px);
        }
        &:hover {
            background-color: rgb(250, 250, 250);
            transform: translateY(-2px);
            box-shadow: 0 0.9px 2.1px -4px rgba(0, 0, 0, 0.056), 0 2.3px 5.1px -4px rgba(0, 0, 0, 0.081), 0 4.7px 9.6px -4px rgba(0, 0, 0, 0.1), 0 9px 17.2px -4px rgba(0, 0, 0, 0.119), 0 18.2px 32.2px -4px rgba(0, 0, 0, 0.144), 0 50px 77px -4px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            .rw-tooltip-decoration {
                background: rgb(250, 250, 250);
            }
            .rw-tooltip-close button {
                background-color: rgb(250, 250, 250);
            }
        }
        &[data-popper-placement=right] {
            margin-left: 20px;
            .rw-tooltip-decoration {
                left: -6px;
                clip-path: polygon(0% 50%, 50% 0, 50% 100%);
                -webkit-clip-path: polygon(0% 50%, 50% 0, 50% 100%);
            }
        }
        &[data-popper-placement=left] {
            margin-right: 20px;
            .rw-tooltip-decoration {
                right: -6px;
                clip-path: polygon(100% 50%, 50% 0, 50% 100%);
                -webkit-clip-path: polygon(100% 50%, 50% 0, 50% 100%);
            }
        }
        &[data-popper-placement=bottom] {
            margin-top: 20px;
            .rw-tooltip-decoration {
                top: -6px;
                clip-path: polygon(100% 50%, 0 50%, 50% 0);
                -webkit-clip-path: polygon(100% 50%, 0 50%, 50% 0);
            }
        }
        &[data-popper-placement=top] {
            margin-bottom: 20px;
            .rw-tooltip-decoration {
                bottom: -6px;
                clip-path: polygon(100% 50%, 0 50%, 50% 100%);
                -webkit-clip-path: polygon(100% 50%, 0 50%, 50% 100%);
            }
        }
        .rw-image-details {
            object-fit: scale-down;
            max-width: 100%;
            margin-top: 8px;
            margin-bottom: 2px;
        }
        .rw-replies {
            justify-content: flex-end;
            margin-left: 4px;
        }
        .rw-separator {
            width: calc(100% + 16px);
            position: relative;
            left: -8px;
            height: 1px;
            background-color: #e0e0e0
        }
        .rw-response {
            text-align: left;
            margin-left: 10px;
            margin-right: 10px;
            ul {
                margin-top: 1em;
                margin-bottom: 1em;
                padding-left: 40px;
            }
        }
        .rw-image-frame {
            object-position: 0 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 9px;
        }
    }
    .rw-tooltip-decoration {
        position: absolute;
        bottom: 12px;
        right: -6px;
        background: white;
        height: 12px;
        width: 12px;
        transition: all 0.2s ease-in-out;
        clip-path: polygon(100% 50%, 50% 0, 50% 100%);
        -webkit-clip-path: polygon(100% 50%, 50% 0, 50% 100%);
    }
    .slick-dots li {
        width: 9px;
    }
    .slick-arrow {
        width: 15px;
        &.slick-next {
            right: -17px;
            top: initial;
            bottom: 10px;
            &:before {
                color: #c0c0c0
            }
        }
        &.slick-prev {
            left: -19px;
            top: initial;
            bottom: 10px;
            &:before {
                color: #c0c0c0;
            }
        }
    }
    .rw-slider-safe-zone {
        width: 87%;
        position: relative;
        margin-bottom: 32px;
        left: 18px;
        .slick-list {
            .rw-tooltip-response {
                max-height: unquote("min(60vh, 350px)");
                overflow-y: auto;
            }
        }
    }
    .rw-tooltip-response {
        margin-top: 1.5rem;
        outline: none;
    }
    .rw-tooltip-close {
        position: absolute;
        right: 7px;
        top: 3px;
        color: red;
        height: 15px;
        width: 15px;
        transition: all 0.2s ease-in-out;
        button {
            transition: all 0.2s ease-in-out;
            // or else the default background color for a button on MOBILE is grey.
            background-color: transparent;
            cursor: pointer;
            border: none;
            padding: 0;
        }
    }
}

.daterangepicker {
    z-index: 999999 !important;
}

.datepicker-container {
    position: fixed;
    bottom: 300px;
    margin: auto;
    z-index: 999999999;
    width: 100%;
}

.datepicker-label {
    -webkit-transition: box-shadow .3s ease, top .3s ease;
    -moz-transition: box-shadow .3s ease, top .3s ease;
    -o-transition: box-shadow .3s ease, top .3s ease;
    transition: box-shadow .3s ease, top .3s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #0b15d5;
    border: 1px solid #135afe;
    border-radius: 15px;
    color: #f4f7f9;
    padding: 4px 22px;
    max-width: 215px;
    min-height: 1.7em;
    font-weight: 500;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 17px;
    cursor: pointer;
    margin: .25em;
    text-decoration: unset;
    box-shadow: 0 0.2px 0.7px -7px rgb(0 0 0 / 28%), 0 0.5px 1.8px -7px rgb(0 0 0 / 37%), 0 1.2px 3.8px -7px rgb(0 0 0 / 44%), 0 4px 13px -7px rgb(0 0 0 / 64%);
    margin: auto;
    width: 140px;
}